section.features {
  // padding-bottom: 0px;
}
.features__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      }


  } 

.features__title {
    display: block;
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    color: var(--title-text-color);

    @media screen and (min-width: 1200px) {
      text-align: left;
      }

    @media screen and (min-width: 768px) {
        text-align: left;
      }
  }

.features__item {
  
    

  //   &:last-child {
  //   margin-right: 0px;
  // }
  // @media screen and (min-width: 768px) {      
  // }
  @media screen and (min-width: 768px) {
    width: 354px;
  }
}

.features__icons {
    margin-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-utility);
    width: 450px;
    height: 120px;
    border-radius: 4px;

    @media screen and (min-width: 768px) {
      width: 353px;
      height: 120px;
    }

    @media screen and (min-width: 1200px) {
    width: 270px;
    height: 120px;
    }
}
  