.filter__item {
    margin-right: 8px;
    margin-bottom: 15px;
    flex-wrap: nowrap;

    &:last-child {
    margin-right: none;
  }
}
  .filter__btn {
    padding: 6px 22px;
    border: none;
    border-radius: 4px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: var(--bg-color-utility);
    box-shadow: none;

    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--bg-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  }

  .filter {
    // width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;

    @media screen and (max-width: 480px) {
      width: 400px;
    }

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      justify-content: center;
      // width: 1200px;
    }
    @media screen and (min-width: 768px) {
      flex-wrap: nowrap;
      justify-content: center;
      // width: 768px;
      
  }
  
  }
  .pointer {
    cursor: pointer;
  }

  .portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

  }
  
  .portfolio__title {
    
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
   
  }

  .portfolio__unit {
    font-size: 16px;
    line-height: 1.88;
    color:var(--text-color);
  }



  
  .portfolio__text {
    border-left: 1px solid var(--bg-color-utility);
    border-right: 1px solid var(--bg-color-utility);
    border-bottom: 1px solid var(--bg-color-utility);
    padding: 20px 24px;

  }

  .portfolio__link {
    display: block;
    background-color:var(--bg-color);
    box-shadow: none;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }

    &:hover .portfolio__overlay-text,
    &:focus .portfolio__overlay-text {
    transform: translate(0);

  }
}

  .portfolio__img {
    position: relative;
    overflow: hidden;
  }
  .portfolio__overlay-text {
    position: absolute;
    top: 0;
    color: var(--bg-color);
    background-color: rgba(33, 150, 243, 0.9);;
    font-size: 18px;
    line-height: 1.56;
    padding: 63px 24px;
    height: 100%;
    width: 100%;

    transition-property: transform;
    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  }

  .portfolio__item {
    @media screen and (max-width: 480px) {
      width: 450px;
    }

    @media screen and (min-width: 768px) {
      width: 354px;
  }

    @media screen and (min-width: 1200px) {
      width: 370px;
    }
  }

  .portfolio__unit-padding {
    @media screen and (min-width: 768px) {
      padding-bottom: 36px;
  }
    @media screen and (min-width: 1200px) {
    padding-bottom: 20px;
  }
    
  }

 