.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 1;
    width: 100%;
    height: 100%;

    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

  }
}
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    min-width: 450px;
    min-height: 609px;
    border-radius: 4px;
    padding: 40px;

    background-color: var(--bg-color);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


    @media screen and (min-width: 1200px) {
      min-width: 528px;
      min-height: 581px;;
    }
    // @media screen and (max-width: 449px) and (max-height: 608px){

    //   overflow-x: scroll;
    //   overflow-y: scroll; 
    // }
  }

  .modal__input {
    width: 100%;
    height: 40px;
    padding-right: 12px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--text-color);
    outline: transparent;
    cursor: pointer;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      border-color: var(--accent-color);
    }
    &:focus + svg {
      fill: var(--accent-color);
    }
  }

  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
  }

  .close {
    fill: #000000;
    width: 11px;
    height: 11px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .close__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    border-radius: 50%;

    background-color: var(--bg-color);
    border-color: rgba(0, 0, 0, 0.1);

    &:focus .close,
    &:hover .close {
    fill: var(--accent-color);
  }
}

  .modal__title{
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--title-text-color);

    margin-bottom: 12px;

  }
  .modal__input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .modal__input-title {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: var(--text-color);
    margin-bottom: 4px;

  }

  .modal__icon-container {
    position: relative;
  }

  .modal__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    fill: #000000;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal__textarea {
    display: block;
    width: 100%;
    height: 120px;
    resize: none;
    margin-bottom: 20px;

    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--text-color);
    outline: transparent;
    cursor: pointer;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


    &::placeholder {
   color: rgba(117, 117, 117, 0.5);
  }  
    &:focus {
    border-color: var(--accent-color);
  }

}

  .modal__checkbox {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    
  }

  label.modal__politic-label {
    display: flex;
    align-items: center;
    color: var(--text-color);
    cursor: pointer;
    font-size: 12px;
    line-height: 1,17;

    &::before{
      content: '';
      width: 15px;
      height: 15px;
      border: 2px solid #000000;
      border-radius: 2px;
      margin-right: 9px;
    
  
      transition-property: background-color border;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1,17;
    }
    
  }

  .modal__politic-check:checked + label::before{
    background-color: var(--accent-color);
    border: none;
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .modal__link {
    color: var(--accent-color);
  }

  
  .modal__main-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));;
      border-radius: 4px;
      margin-left: auto;
      margin-right: auto;
  
      height: 50px;
      width: 200px;
  
      Font-family: inherit;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.88;
      align-items: center;
      text-align: center;
      letter-spacing: 0.06em;
      color: var(--bg-color);
      background-color: var(--accent-color);
  
      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);    
    }